.user-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  min-height: 480px;

  .form-container {
    border-bottom: 1px solid black;
    border-right: none;
  }

  .table-container {
  }
}

@media (min-width: 768px) {
  .user-list {
    flex-direction: row;

    .form-container {
      border-bottom: none;
      border-right: 1px solid black;
      width: 30%;
    }

    .table-container {
      width: 70%;
    }
  }
}
