.user-list-table {
  background: #f6f6f6;
  height: 100%;
  padding: 32px;
  overflow-x: scroll;

  h2 {
    border-bottom: 1px solid black;
    margin-bottom: 32px;
  }

  table {
    white-space: nowrap;

    width: 100%;
  }

  th,
  td {
    padding: 12px;
  }

  .status-cell {
    align-items: center;
    display: inline-flex;
    gap: 2px;
    text-transform: capitalize;
  }

  .action-buttons-cell {
    align-items: center;
    display: inline-flex;
    gap: 4px;

    button {
      background: #4e4d4d;
      border-radius: 4px;
    }
  }

  tr:not(:last-child) {
    border-bottom: 1px solid black;
  }
}
