* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1,
h2 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

button {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 14px;

  input,
  select {
    height: 26px;
    margin-bottom: 12px;
  }

  button[type="submit"] {
    border: none;
    color: white;
    background: #2196f3;
    padding: 6px;
    text-align: center;
  }

  button:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

table {
  border-collapse: collapse;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
